 .info-section{

    
    background:#f7f7f7;

}
 

 /*.info-section{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:10px;

    margin-top:0;
    padding-top:0;
    clear:both;
}*/
.info-card{

    background:white;

    border-radius:8px;

    overflow:hidden;

    box-shadow:0 2px 10px rgba(0,0,0,.12);

    transition:.3s;

    height:100%;

}

.info-card:hover{

    transform:translateY(-6px);

}

.info-title{

    background:#0b5d2a;

    color:white;

    padding:12px;

    text-align:center;

    font-weight:bold;

}

.info-card ul{

    list-style:none;

    padding:2px 2px 2px 5px;

}

.info-card li{

    padding:8px 0;

    border-bottom:1px solid #eee;

    cursor:pointer;

    font-size:14px;

}

.info-card li:hover{

    color:#0b5d2a;

    padding-left:8px;

    transition:.3s;

}