.statistics-section{

    background:#f5f5f5;

    /* padding:12px 30px 30px; */
    padding:10px 15px;
}

.stat-card{

    background:#ffffff;

    border:1px solid #dcdcdc;

    border-radius:6px;

    height:90px;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:1px;

    transition:.3s;

    box-shadow:0 2px 5px rgba(0,0,0,.08);
}

.stat-card:hover{

    transform:translateY(-4px);

    box-shadow:0 5px 12px rgba(0,0,0,.15);
}

.stat-icon{

    font-size:12px;

    color:#0a5b2a;
}

.stat-content h6{

    margin:0;

    font-size:12px;

    color:#333;

    font-weight:600;
}

.stat-content h2{

    margin:4px 0 0;

    color:#0a5b2a;

    font-size:20px;

    font-weight:bold;
}